<br>
<div class="card">
    <div class="card-header">
        <h4 class="font-weight-bold">Visualizando conta bancaria</h4>
    </div>
    <div class="card-body">
        <form action="" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Numero da conta: </label>
                        <input type="text" class="form-control" name="number" value="<%= bankAccount.number %>" placeholder="Digite o numero da conta" id="number" readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Saldo atual: </label>
                        <input type="text" class="form-control" name="balance" value="<%= bankAccount.balance %>" placeholder="Digite seu saldo atual" id="balance" readonly>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="firstname" class="col-form-label">Usuario: </label>
                        <select class="form-select" aria-label="Default select example" name="customerId" id="customerId" disabled>
                            <option value="0">Selecione</option>
                            <% for(let customer of customers) { %>
                                <option value="<%= customer._id %>" <%= customer.selected %>><%= customer.firstname %> <%= customer.lastname %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="">
                <br>
                <!-- <button type="submit" class="btn btn-primary">Salvar</button> -->
                <a href="/getAllBankAccounts" class="btn btn-light">Voltar</a>
            </div>
        </form>
    </div>
</div>